$primary-color: #f6f6f1;
$content-color: #111;
$title-color:#3377aa;
$border-style: 1px solid red;
$nav-text-color: #614e3c;
$button-color:#3db04d;
html,body, #__nuxt, #__layout{
  height:100%!important;
  width: 100%!important;
}

body {
   font-family: Arial, Helvetica, sans-serif;
  background-color: $primary-color;
}

.container{
  width: 1150px;
}

.nav-text-color {
  color: $nav-text-color;
}

.border-color {
  border:1px solid $border-style;
}

.content-color{
  color: $content-color;
}

.section-title{
  font-size: 18px;
  font-weight: 500;
  color: #111;
  line-height: 150%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 15px;;
}

.book-item-cover{
  height: 170px;
  width: 115px;
}


.book-category {
  width: 120px;
  height: 60px;
}

.note-title{
  color: $title-color;
}

.note-item-cover {
  height: 150px;
  width: 101px;
  object-fit: cover;
  border: 1px solid #d8dee4;
}

.note-quote{
  padding: 10px 10px 10px 40px;
  position: relative;
  box-sizing: border-box;
}

.note-quote::before{
  content: "";
  font-size: 30px;
  position: absolute;
  top:0;
  left:0;
  width: 30px;
  height: 30px;
  background-image: url("~/assets/images/svg_quote.svg");
  background-repeat: no-repeat;
}

.note-quote-author{
  padding-left: 40px;
  box-sizing: border-box;
}

.note-comment{
  padding-left: 40px;
  box-sizing: border-box;
}

.note-write-button{
  cursor: pointer;
}

.vue-star-rating-star{
  margin-top: -3px;
  //line-height: 20px;
  //padding-bottom: 5px;
}

.vue-star-rating-rating-text{
  display: none;
}

.rating-text{
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  margin-top: 5px;
  color: #ABABAB;
}

.review-form {
  width: 600px;
}

.review-title {
  border-radius: 8px;
  border: 1px solid #d8dee4;
  height: 35px;
  padding-left: 15px;
}

.review-content {
  border-radius: 8px;
  border: 1px solid #d8dee4;
  padding: 15px;
}

.submit-button {
  width: 200px;
  height: 30px;
  background-color: $button-color;
  color: #FFF;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.editor-container {
  padding: 0 0 40px 0;
  background-color: white;
  .ql-toolbar{
    background-color: white;
  }
  .quill-editor {
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
    background-color: white;
  }
}

.note-write-form{
  color: $content-color;
  font-size: 14px;
}
.note-write-form input[type="text"] {
  height: 35px;
  border-radius: 8px;
  border-color: $border-style;
  padding-left: 10px;
}

.note-write-form textarea {
  border-radius: 8px;
  border-color: $border-style;
}

.note-write-form input[type="button"] {
  width:  200px;
  height: 30px;
  background-color: $button-color;
  color: #FFF;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.note-write-form label {
  height: 25px;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.book-info{
  background-color: #f0f0f0;
  height: 80px;
}
.book-cover{
  object-fit: fill;
  height: 80px;
  width: 60px;
  border: 1px solid #d8dee4;
}

.bubble-default {
  background: #333333 !important;
}

.side-bar {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding:0 20px;
  flex-shrink: 0;
}

.collect-item {
  flex-shrink: 0;
  width: 120px;
  //height: 200px;
  overflow: hidden;
}

.collect-item img {
  width: 120px;
  height: 178px;
  overflow: hidden;
  object-fit: fill;
  margin-bottom: 10px;
  border: 1px solid #d8dee4;
}

.searchText:focus{
  outline: 0px;
  outline-color: none;
}

/* 防止滚动条导致的页面抖动 */
html{
  padding-left: calc(100vw - 100%);
}
